In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap, LinearSegmentedColormap

import geopandas

In [48]:
df = pd.read_csv('data/covid_march.csv')
covid = df.groupby(df['Country/Region']).sum().reset_index()
covid.head()

  Country/Region  Confirmed  Deaths  Recovered  Latitude  Longitude
0    Afghanistan         24       0          1   33.9391    67.7100
1        Albania         76       2          2   41.1533    20.1683
2        Algeria        139      15         32   28.0339     1.6596
3        Andorra         88       0          1   42.5063     1.5218
4         Angola          2       0          0  -11.2027    17.8739

In [36]:
states_shapes = geopandas.read_file('data/Countries_WGS84/Countries_WGS84.shp')
states_shapes.rename(columns={'CNTRY_NAME':'Country/Region'}, inplace=True)
states_shapes.head()

,OBJECTID,Country/Region,geometry
0,1,Aruba,"POLYGON ((-69.88223 12.41111, -69.94695 12.436..."
1,2,Antigua and Barbuda,"MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ..."
2,3,Afghanistan,"POLYGON ((61.27656 35.60725, 61.29638 35.62853..."
3,4,Algeria,"POLYGON ((-5.15213 30.18047, -5.13917 30.19236..."
4,5,Azerbaijan,"MULTIPOLYGON (((45.02583 41.03055, 45.00999 41..."

In [51]:
states_shapes=states_shapes.merge(covid, on='Country/Region', how='left')
states_shapes.head()

,OBJECTID,Country/Region,geometry,Confirmed_x,Deaths_x,Recovered_x,Latitude_x,Longitude_x,Confirmed_y,Deaths_y,...,Confirmed_y,Deaths_y,Recovered_y,Latitude_y,Longitude_y,Confirmed,Deaths,Recovered,Latitude,Longitude
0,2.0,Antigua and Barbuda,"MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...",1.0,0.0,0.0,17.0608,-61.7964,1.0,0.0,...,1,0,0,17.0608,-61.7964,1,0,0,17.0608,-61.7964
1,3.0,Afghanistan,"POLYGON ((61.27656 35.60725, 61.29638 35.62853...",24.0,0.0,1.0,33.9391,67.7100,24.0,0.0,...,24,0,1,33.9391,67.7100,24,0,1,33.9391,67.7100
2,4.0,Algeria,"POLYGON ((-5.15213 30.18047, -5.13917 30.19236...",139.0,15.0,32.0,28.0339,1.6596,139.0,15.0,...,139,15,32,28.0339,1.6596,139,15,32,28.0339,1.6596
3,5.0,Azerbaijan,"MULTIPOLYGON (((45.02583 41.03055, 45.00999 41...",53.0,1.0,11.0,40.1431,47.5769,53.0,1.0,...,53,1,11,40.1431,47.5769,53,1,11,40.1431,47.5769
4,6.0,Albania,"POLYGON ((20.79192 40.43154, 20.78722 40.39472...",76.0,2.0,2.0,41.1533,20.1683,76.0,2.0,...,76,2,2,41.1533,20.1683,76,2,2,41.1533,20.1683

### Colourmap
Creates a colourmap for every country by range of deaths

In [19]:
limits = [1000, 2000, 3000, 4000, 5000, 10000]
names = ['0 to 1000', '1000 to 2000', '2000 to 3000', '3000 to 4000', '4000 to 5000', '+ 5000']
states_shapes['Mortality'] = pd.cut(states_shapes['Deaths_x'], limits, labels=names)
states_shapes.head()

ValueError: Input array must be 1 dimensional

In [ ]:
plt = states_shapes.plot(figsize=(10,20),
                                 column='Mortality',
                                 cmap=country_colormap,
                                 alpha=0.5,
                                edgecolor='black');

plt.axis('off');